{% extends 'base.html.twig' %}

{% block title %}
	Historique des commandes
{% endblock %}

{% block main %}
	<div
		class="px-4 text-center">
		{# Title #}
		<section class="title mb-5">
			<h1 class="display-5 fw-bold text-body-emphasis">Historique des commandes</h1>
		</section>


		{# Cart content #}
		<section class="row d-flex justify-content-center mt-4">
			<div class="col-md-11 mx-2 ">
				<table class="table table-striped border">
					<thead class="text-center">
						<tr>
							<th scope="col">Identifiant</th>
							<th scope="col">Montant</th>
							<th scope="col">Date</th>
						</tr>
					</thead>

					<tbody class="text-center">
						{% for order in orders %}
							<tr>
                                {# Order id #}
								<td>{{ order.id }}</td>
                                {# Total of the order #}
								<td>
                                    {% for produit in order.produit %}
                                        {{ produit.prix * order.quantite }}€
                                    {% endfor %}
                                </td>
                                {# Order date #}
                                <td>{{ order.dateAjout|date('d/m/Y') }}</td>
							</tr>
						{% endfor %}
                    </tbody>
                </table>
			</div>
		</section>
	</div>

{% endblock %}
