{% extends 'base.html.twig' %}


{% block title %}Erreur 404{% endblock %}


{% block body %}
    <h1>{{"ERREUR 404"|trans}}</h1>
    <h1>{{"Page non trouvée"|trans}}</h1>
    <p>{{"La page que vous cherchez n'a pas été trouvée."|trans}}</p>
    
{% endblock %}