{% extends 'base.html.twig' %}


{% block title %}Erreur{% endblock %}


{% block body %}
    <h1>ERREUR</h1>
    <h1>Page non trouvée</h1>
    <p>La page que vous cherchez n'a pas été trouvée.</p>
    
{% endblock %}